@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<SuperPost.Models.Post> 

<main class="container">
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p>@Html.ActionLink("Add A Post", "Create", "Posts", new { @class = "btn btn-primary btn-lg" })</p>
    </div>

    <p>
        @Html.ActionLink("Create New", "Create", "Posts")
    </p>
    <section class="posts">
        @foreach (var item in Model)
        {

            <div class="col-md-10">
                <h2>
                    @Html.DisplayFor(modelItem => item.PostTitle) <small>| @Html.DisplayFor(modelItem => item.Category.CategoryName)</small>
                </h2>
                <h3>@Html.DisplayFor(modelItem => item.DateAdded)</h3>
                <div class="image">
                    <img src="~/Content/@Html.DisplayFor(modelItem => item.Image)" class="img-responsive" />
                </div>
                <div class="settings">
                    @Html.ActionLink("Edit", "Edit", "Posts", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    <button class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</button>
                </div>
                <table class="table-striped">
                    <thead>
                        <tr><th>Comments</th></tr>
                    </thead>
                    @foreach (var comment in item.Comments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => comment.CommentText)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </section>
</main>