@model SuperPost.Models.Post

@{
    ViewBag.Title = "Details";
}

<h1>Image Details</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2>Title<small> | @Html.DisplayFor(model => model.PostTitle)</small></h2>
            <hr />
            <img src="~/Content/@Html.DisplayFor(model => model.Image)" class="img-responsive" />
        </div>
        <div class="col-md-4">
            <h3>Details</h3>
            <div class="btn-group">
                @Html.ActionLink("Home", "Index", new { controller = "Posts" }, new { @class = "btn btn-default" })
                @if (User.Identity.IsAuthenticated) 
                {
                    @Html.ActionLink("Edit", "Edit", "Posts", new { id = Model.ID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", "Posts", new { id = Model.ID }, new { @class = "btn btn-danger" })
                }
                
            </div>
            <h3>Date Posted<small> | @Html.DisplayFor(model => model.DateAdded)</small></h3>
            <h4>Category<small> | @Html.ActionLink(Model.Category.CategoryName, "Details", new { controller = "Categories", id = Model.Category.ID })</small> </h4>
            <table class="table table-striped">
                <thead>
                    <tr><th>Comment</th><th>Date</th></tr> 
                </thead>
                @foreach (var comment in Model.Comments)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => comment.CommentText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => comment.DateAdded)
                        </td>
                    </tr>

                }
            </table>
            <button class="btn btn-primary" data-toggle="modal" data-target="#addCommentModal">Add Comment</button>
            <div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Comment to @Html.DisplayFor(model => model.PostTitle)</h4>
                        </div>
                        <div class="modal-body" id="reviewSpace">
                            <form method="post" action="/api/Comments" id="addComment">
                                <div class="form-group">
                                    <label for="commentText">Comment</label>
                                    <input type="text" class="form-control" name="commentText" id="commentText" required />
                                </div>
                                <input type="hidden" name="postID" value="@Html.DisplayFor(model => model.ID)" class="form-control" id="Comment" required />
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Add Comment</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

