@model IEnumerable<SuperPost.Models.Post> 
@{
    ViewBag.Title = "Index";
}
<main class="container">
    <h2>All Posts</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <section class="posts">
        @foreach (var item in Model)
        {

            <div class="col-md-10">
                <h2>
                    @Html.DisplayFor(modelItem => item.PostTitle) <small>| @Html.DisplayFor(modelItem => item.Category.CategoryName)</small>
                </h2>
                <h3>@Html.DisplayFor(modelItem => item.DateAdded)</h3>
                <div class="image">
                    <img src="~/Content/@Html.DisplayFor(modelItem => item.Image)" class="img-responsive"/>
                </div>
                <div class="settings">
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if(User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                        <button class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.ID })</button>
                    }
                    
                    
                </div>
                <table class="table-striped">
                    <thead>
                        <tr><th>Comments</th></tr>
                    </thead>
                    @foreach (var comment in item.Comments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => comment.CommentText)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </section>
</main>