@model SuperPost.Models.Category

@{
    ViewBag.Title = @Html.DisplayFor(model => model.CategoryName);
}

<h2>@Html.DisplayFor(model => model.CategoryName) Posts</h2>

<div>
    <hr />
    @{int counter = 0; }
    <div class='row'>
    @foreach (var post in Model.Posts)
    {
        if (counter > 0 && counter % 3 == 0) {
            @:</div><div class="row">
        }
        <div class="col-md-4">
            <img src="~/Content/@Html.DisplayFor(modelItem => post.Image)" class="img-responsive" />
            <div class="btn-group">
                @Html.ActionLink("View Image", "Details", "Posts", new { id = post.ID }, new { @class = "btn btn-info" })
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit Image", "Edit", "Posts", new { id = post.ID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete Image", "Delete", "Posts", new { id = post.ID }, new { @class = "btn btn-danger" })
                }
            </div>
        </div>
        counter++;
    }
</div>
