@model IEnumerable<SuperPost.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>


    @Html.ActionLink("Add New Category", "Create", "Category", new { @class = "btn btn-success" }) 


@foreach (var item in Model)
{
    if (!item.Posts.Count.Equals(0))
    {
        <section class="row">
            <h2>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </h2>
            <div class="settings btn-group">
                @Html.ActionLink("All " + @Html.DisplayFor(modelItem => item.CategoryName) + " Posts", "Details", new { id = item.ID }, new { @class = "btn btn-info" })
                @if (User.Identity.IsAuthenticated)
                { 
                    @Html.ActionLink("Edit Category", "Edit", new { id = item.ID }, new { @class = "btn btn-warning" })

                }
            </div>
            <div class="">
                @foreach (var imagePost in item.Posts.Take(3))
                {

                    <div class="col-md-4">
                        <h2>@Html.DisplayFor(modelItem => imagePost.PostTitle)</h2>
                        <img src="~/Content/@Html.DisplayFor(modelItem => imagePost.Image)" class="img-responsive" />
                        <div class="text-center">@Html.ActionLink("View Image", "Details", "Posts", new { id = imagePost.ID }, new { @class = "btn btn-info" })</div>

                    </div>
                }
            </div>

        </section>
        <hr />
    }

}
